* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  .container-fluid {
    min-height: 100vh;
    max-width: 100%;
    background-color: black;
    overflow: hidden;
  }
  .row {
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    background-color: white;
    left: 0.8em;
    overflow: hidden;
  }
  .images-box {
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  .images-box img {
    min-width: 50%;
    fill-opacity: 10;
    filter: brightness(1);
    margin: 10px;
    height: 100vh;
    box-shadow: 1px 1px 2px 2px black;
  }
  @media (max-width: 768px) {
    .images-box img {
      max-width: 100%;
      margin: 10px;
      height: 100vh;
    }
    .images-box {
      position: absolute;
      left: 0em;
    }
  }
  .btns {
    position: fixed;
    bottom: 0em;
    min-height: 50px;
    min-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px 2px black;
  }
  .btns button {
    margin: 10px;
    position: relative;
    right: 2em;
    float: right;
    color: aqua;
    font-weight: bolder;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    padding: 10px 30px;
    background-color: aqua;
    color: black;  transition: 0.5s;
    box-shadow: 1px 1px 2px 2px black;
  }
  .btns button:hover {
    background-color: aqua;
    color: black;
  }
  @media (max-width: 768px) {
    .btns button {
      margin: 10px;
      position: relative;
      right: 0em;
      float: right;
      padding: 10px 10px;
    }
  }
  #quiz {
    padding: 10px 34px;
  }
  